.login {
    width: 600px;
    display: flex;
    justify-content: end;
}

.login button {
    width: 182px;
    height: 51px;
    background: none;
    border: solid 1px var(--azul-destaque);
    color: var(--azul-destaque);
    text-transform: uppercase;
}

.login button:hover {
    background-color: var(--azul-destaque);
    color: var(--texto-destaque);
}

.lupa-mobile {
    display: none;
}