footer {
    width: 100vw;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAF2FD;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.links_item {
    font-weight: 500;
    text-align: left;
    color: #464646;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contato_titulo {
    font-weight: 700;
    color: #464646;
}

.botao {
    border: none;
    background: #2A7AE4;
    color: #FFFFFF;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

.rodape p {
    font-weight: 500;
    text-align: center;
    color: #464646;
}

@media screen and (min-width: 0) {
    .footer {
        padding: 1em;
        gap: 1em;
    }

    .conteudo {
        padding: 0px;
        gap: 2em;
    }

    .bloco {
        padding: 0px;
        gap: 1em;
    }

    .logo {
        width: 176px;
        height: 50px;
    }

    .links {
        padding: 0px;
        gap: 1em;
    }

    .links_item {
        font-size: 1em;
        line-height: 1.1875em;
    }

    .contato {
        padding: 0px;
        gap: .5em;
    }

    .contato_titulo {
        font-size: 1em;
        line-height: 1.1875em;
    }

    .nome {
        gap: .5em;
        width: 270px;
        height: 56px;
        border: none;
    }

    .mensagem {
        gap: .5em;
        width: 270px;
        height: 82px;
        border: none;
    }

    .botao {
        padding: .75em 1em;
        gap: .625em;
    }

    .rodape {
        padding: 2em;
        gap: 0.625em;
    }

    .rodape p {
        font-size: 1em;
        line-height: 1.1875em;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 2em;
        gap: 7.1875em;
    }

    .conteudo {
        gap: 7em;
        flex-direction: row;
    }

    .bloco {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
    }

    .links {
        gap: 1.5em;
    }

    .nome {
        width: 200px;
    }

    .mensagem {
        width: 200px;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 4em;
        gap: 7.1875em;
    }

    .conteudo {
        gap: 7em;
    }

    .links {
        gap: 1.5em;
    }

    .nome {
        width: 400px;
    }

    .mensagem {
        width: 400px;
    }

    .botao {
        padding: 1em;
    }
}