.logo-busca {
    margin-left: 175px;
    width: 601px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 29.17px;
    width: 40.02px;
}

.logo p {
    font-size: 26px;
    font-weight: bolder;
}

.logo .logo-azul {
    margin-left: 10px;
    color: var(--azul-destaque);
}

.logo-busca input {
    margin-left: 10%;
    width: 393px;
    height: 40px;
    border-radius: 30px;
    padding: 1% 3%;
    border: none;
    background-color: var(--input-bg);
    background-image: url("../img/lupa.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 320px;
}

.login {
    width: 600px;
    display: flex;
    justify-content: end;
}

.login button {
    width: 182px;
    height: 51px;
    background: none;
    border: solid 1px var(--azul-destaque);
    color: var(--azul-destaque);
    text-transform: uppercase;
}

.login button:hover {
    background-color: var(--azul-destaque);
    color: var(--texto-destaque);
}

.lupa-mobile{
    display: none;
}