.produto_lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

.produto_topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produto_topo h2 {
    font-weight: 700;
    font-size: 1.3em;
    color: #464646;
}

.produto_topo a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: #2A7AE4;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.produto {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.desktop {
    display: none;
}

.produto_imagem {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
    width: 135px;
    height: 160px;
}

.produto_titulo {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    width: 135px;
}

.produto_preco {
    width: 135px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.produto_link {
    width: 80px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #2A7AE4;
    text-decoration: none;
}