main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-weight: 700;
    color: #464646;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email,
.senha {
    background: #FFFFFF;
    border-radius: 4px;
    border: .2px solid rgba(204, 204, 204, 0.432);
}

.botao-form {
    background: #2A7AE4;
    color: #FFFFFF;
    border: none;
}

@media screen and (min-width: 0) {
    main {
        padding: 3.125em;
    }

    .titulo {
        font-size: 1em;
        line-height: 1.1875em;
    }

    .login {
        gap: .8em;
    }

    .email,
    .senha {
        gap: .875px;
        width: 275px;
        height: 41px;
        border-radius: 4px;
        border: .2px solid rgba(204, 204, 204, 0.432);
    }

    .botao-form {
        padding: .75px 1em;
        gap: .625em;
        width: 109px;
        height: 40px;
    }
}

@media screen and (min-width: 768px) {

    .email,
    .senha {
        width: 300px;
        height: 41px;
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 6em 3.125em;
    }

    .email,
    .senha {
        width: 360px;
        height: 70px;
    }

    .botao-form {
        width: 360px;
        height: 70px;
    }
}