/*Form Contato*/

.contato {
    background-color: var(--bg-contato);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.referencia {
    display: flex;
    align-items: center;
}

.referencia p {
    font-weight: 700;
}

.logo-azul {
    color: var(--azul-destaque);
}

.links-uteis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-uteis a {
    color: black;
    font-weight: 500;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.form p {
    font-weight: 700;
}

.label-float {
    display: flex;
    flex-direction: column;
}

.form input {
    position: relative;
    border: transparent;
    box-sizing: content-box;
    color: var(--azul-destaque);
}

.form input:hover {
    border-bottom: solid 2px var(--azul-destaque);
    transition: linear 1s;
}

.label-nome {
    position: absolute;
    color: var(--input-placeholder);
    transition: 0.5s;
}

.input-nome:focus+.label-nome {
    top: 64px;
    font-size: 14px;
    z-index: 2;
    transition: 0.2s;
    color: var(--azul-destaque);
}

.form textarea {
    width: 100%;
    border: transparent;
    color: var(--azul-destaque);
}

.form button {
    background-color: var(--azul-destaque);
    border: none;
    color: var(--texto-destaque);
    font-weight: 600;
}

@media screen and (min-width: 0) {
    .contato {
        padding: 1em;
        gap: 16px;
    }

    .referencia img {
        height: 20px;
        width: 30px;
    }

    .referencia p {
        font-size: 18px;
    }

    .links-uteis {
        gap: 16px;
    }

    .links-uteis a {
        font-weight: 500;
        font-size: 16px;
    }

    .form {
        padding: 0px;
        gap: 8px;
    }

    .form p {
        font-size: 16px;
    }

    .label-float {
        padding: 0px;
        gap: 16px;
    }

    .form input {
        width: 280px;
        height: 56px;
        margin-bottom: 20px;
        padding: 0.5% 2.7%;
    }


    .label-nome {
        width: 100%;
        top: 80px;
        left: 9px;
    }

    .form textarea {
        width: 290px;
        margin-bottom: 20px;
    }

    .form button {
        height: 40px;
        width: 151px;
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .contato {
        flex-direction: row;
        padding: 2em;
        gap: 115px;
    }

    .esquerda {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        width: 254px;
    }

    .referencia img {
        height: 30px;
        width: 45px;
    }

    .referencia p {
        font-size: 22px;
    }

    .links-uteis {
        align-items: flex-start;
        gap: 24px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .form input {
        width: 380px;
        height: 56px;
    }

    .form textarea {
        width: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .contato {
        padding: 4em;
        justify-content: space-between;
        align-items: flex-start;
        gap: 62px;
    }


    .esquerda {
        flex-direction: row;
        width: 500px;
        gap: 62px;
    }

    .links-uteis {
        gap: 24px;
    }

    .form input {
        width: 415px;
    }

    .form textarea {
        width: 435px;
    }

    .form button {
        width: 165px;
        height: 51px;
        font-size: 16px;
    }
}