.destaque {
    height: 352px;
    background-image: url('../../img/banner_desktop.png');
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 32px;
}

.banner {
    width: 751px;
    height: 320px;
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.banner h1 {
    color: var(--texto-destaque);
    font-size: 52px;
    font-weight: bold;

}

.banner h4 {
    color: var(--texto-destaque);
    font-size: 22px;
    font-weight: bold;
}

.banner button {
    background-color: var(--azul-destaque);
    border: none;
    color: var(--texto-destaque);
    height: 51px;
    width: 130px;
}