.banner {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.banner h1 {
    color: var(--texto-destaque);
    font-weight: 700;

}

.banner h4 {
    color: var(--texto-destaque);
    font-weight: 600;
}

.banner button {
    background-color: var(--azul-destaque);
    border: none;
    color: var(--texto-destaque);
    font-weight: 600;
}

@media screen and (min-width: 0) {
    .destaque {
        background-image: url('../../img/banner_mobile.png');
        background-repeat: no-repeat;
    }

    .banner {
        width: 300px;
        height: 150px;
        padding: 1em;
    }

    .banner h1 {
        font-size: 24px;
        line-height: 26px;
    }

    .banner h4 {
        font-size: 12px;
        line-height: 16px;
    }

    .banner button {
        font-size: 14px;
        height: 40px;
        width: 119px;
    }
}

@media screen and (min-width: 768px) {
    .destaque {
        background-image: url('../../img/banner_tablet.png');
    }

    .banner {
        height: 300px;
        padding: 2em;
    }

    .banner h1 {
        font-size: 24px;
        line-height: 26px;
    }

    .banner h4 {
        font-size: 12px;
        line-height: 16px;
    }

    .banner button {
        font-size: 14px;
        height: 40px;
        width: 119px;
    }
}

@media screen and (min-width: 1024px) {}